* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 25px;
    background-color: white;
    height: 22.4em;
    width: 59.98em;
}
#corpo{
    background-color: transparent;
}

footer{
    margin-top: 5.2em;
}

.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fonte {
    margin: 0;
    padding: 0;
}

.fonteimg {
    width: 4em;
}

.fonteimg:hover {
    cursor: pointer;
}

.fonte .vertical-line {
    height: 2em;
    width: 2.16em;
}

.capacitor-circuit {
    margin-left: -0.9em;
}


#regulador-tensao{
    margin-left: 0.5em;
}
#capacitor {
    margin-left: -0.2em;
    width: 2em;
    height: 1em;
    border-top: 0.4em solid black;
    border-bottom: 0.4em solid black;
}

#capacitor:hover{
    cursor: pointer;
}

#chave{
    border-right: 0em solid transparent;
    border-bottom: 0.4em solid black;
    transform: rotate(45deg);
    width: 2em;
    height: 2em;
    margin-top: -1em;
    margin-bottom: 0.1em;
    margin-left: -0.2em;
}
#chave:hover{
    cursor: pointer;
}

.resistor-circuit {
    margin-left: -1.6em;
}

.resistor-circuit .vertical-line {
    height: 2em;
    width: 54%;
}

.resistor-circuit .resistor-top,
.resistor-bottom {
    background-color: rgb(229, 216, 194);
    width: 3em;
    height: 1.5em;
    border-radius: 0.3em;
}

.resistor-circuit .resistor-body {
    background-color: rgb(229, 216, 194);
    width: 1.5em;
}

.resistor-circuit .resistor-body>* {
    margin: 0.25em 0;
    border: 0.01em solid black;
    height: 0.7em;
}

#brand1:hover {
    cursor: pointer;
}

#brand2:hover {
    cursor: pointer;
}

#brand3:hover {
    cursor: pointer;
}

#brand5:hover {
    cursor: pointer;
}

.vertical-line {
    border-right: 0.4em solid black;
}

.horizontal-line {
    border-top: 0.4em solid black;
    width: 9em;
}

td:nth-child(1) .horizontal-line {
    margin-left: 1.75em;
}

.tabela-resistores {
    display: inline;
    font-size: 0.7em;
}

table {
    display: inline;
    border-collapse: collapse;
}

table td {
    padding: 0;
    margin: 0;
}

#resistor-table1 td {
    width: 8em;
    border: 0.1em solid black;
    color: black;
    text-align: center;
}

#resistor-table2 td {
    width: 8em;
    border: 0.1em solid black;
    color: black;
    text-align: center;
}

#resistor-table3 td {
    width: 8em;
    border: 0.1em solid black;
    color: black;
    text-align: center;
}

#resistor-table4 td {
    width: 8em;
    border: 0.1em solid black;
    color: black;
    text-align: center;
}

.black{background-color:black;}
.black span{color:white;}
.brown{background-color: brown;}
.red{background-color: red;}
.orange{background-color: orange;}
.yellow{background-color: yellow;}
.green{background-color: green;}
.blue{background-color: blue;}
.violet{background-color: violet;}
.gray{background-color: gray;}
.white{background-color: white;}
.gold{background-color: gold;}
.silver{background-color: silver;}

#resist-tot {
    display: inline;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, right top, from(#e0c0c0), to(#e84242)) no-repeat;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #efb671;
    cursor: pointer;
}

.input-capa {
    margin-left: 2.5em;
}

#append{display: inline-block;}
#percentage{display: inline-block;}

table{
    margin-top: 4em;
}